@import url('https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap');

:root{
    --body-color: hsl(0, 0%, 96%);
    --text-color: hsl(0, 0%, 12%);

    --body-font: 'Inter', sans-serif;
    --loading-font-size: 2rem;
}